* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	background-color: tomato;
	height: 100px;
}

footer {
	background-color: gray;
	height: 50px;
}
h1 {
	font-size: 24px;
}
p {
	font-size: 14px;
	font-family: arial;
}